*.~*
*.bak
*.tmp
*.sav
*.err
err.txt
err_*
tmp_*
sav_*
obj_*
my_*
bak
tmp
sav
*.t
*.o
obj
*.obj
*.db
*.pdb
*.ipdb
*.ilk
*.suo
*.tlog
*.log
.vs
*.sdf
*.opensdf
*.opendb
Debug
Release
*.user
build/*.exe
cmake
cmake_vc
cmake_mac
cmake_linux
sample/*.exe
#*
.vscode
bld
lib
obj
bin
